@page "/snake"

@* 
    The following line forces the code to run on the webserver.

    Notice that we run this code on the web server so that
    it has access to the network. If you run this as web assembly
    (i.e., on the browser) it would not be able to connect to
    the snake server using our networking code.
*@
@rendermode InteractiveServer
@implements IDisposable

@using Blazor.Extensions
@using Blazor.Extensions.Canvas
@using Blazor.Extensions.Canvas.Canvas2D
@using System.Drawing
@using System.Diagnostics
@using CS3500.LogSupport
@using CS3500.Networking
@using Microsoft.Extensions.Logging.Abstractions
@using System.Net.Sockets
@using System.Text.Json
@using Microsoft.Extensions.Logging.Configuration

@inject IJSRuntime JsRuntime;
@inject ILogger<Program> Logger;


@if (!gameStarted) {
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Snake Game</title>
    </head>

    <div class="title-container">
        <h1>SNAKE</h1>
        <p class="subtitle"></p>

        @if (!string.IsNullOrEmpty(errorMessage))
        {
            <p style="color:red;">@errorMessage</p>
        }
        @if (!playPressed)
        {

            <input @bind="playerName"
                   @bind:event="oninput"
                   maxlength="16"
                   placeholder="Enter your name"
                   class="name-input-container" />
            <br>
            <button class="btn btn-primary" @onclick="Connect">Play</button>
        }
        <p style="color:#00ff00">@networkStatus</p>
    </div>

    <body>
    <div class="scanline"></div>
    </body>
}

<div id="myCanvas" class="canvas-container">
    <BECanvas @ref="canvasReference"/>
</div>

@code 
{
}
